<div
  *ngIf="!image_url"
  class="uploadfilecontainer"
  (click)="fileInput.click()"
  appUploadHandler
  (onFileDropped)="uploadFile($event)"
>
  <input
    hidden
    type="file"
    #fileInput
    (change)="uploadFile($event.target.files[0])"
  />
</div>
<div>
  <div class="image-preview" *ngIf="image_url">
    <img src="{{ image_url }}" alt="" />
  </div>
</div>
<div class="files-list" *ngFor="let file of files; let i = index">
  <p class="file-item-name">{{ file }}</p>
  <button class="delete-file" (click)="deleteAttachment(i)">
    <img src="../../assets/images/remove.png" />
  </button>
</div>
