.uploadfilecontainer {
  background-image: url("../../assets/images/cloud-upload.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 80%;
  width: 80%;
  margin: 20px auto;
  margin-top: 40px;
  border: 2px dashed #1c8adb;
  border-radius: 10px;
}

.file-item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}

.image-preview {
  position: relative;
  transition: all 300ms;
  display: flex;
  justify-content: center;
  margin: 100px auto;
  width: fit-content;
  .download-btn {
    transition: all 300ms;
    zoom: 7%;
    align-self: flex-end;
    z-index: 1000000;
    position: absolute;
    right: 500px;
    bottom: 500px;
  }
  .image {
    transition: all 300ms;
  }
}

.shadow-on {
  filter: blur(1px);
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin: 0 auto;
  align-items: center;
  .image-container {
  }
  .options-container {
  }
}
.upload-state {
  height: 300px;
}
