<!-- <mat-spinner></mat-spinner>
-->

<div class="container">
  <div class="row flex-row-reverse h-100">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="main-container">
        <div class="upload-image-container">
          <div
            class="upload-file-container"
            [ngClass]="{
              'upload-state-background': !loading,
              'loading-state': loading
            }"
            (click)="fileInput.click()"
            appUploadHandler
            (onFileDropped)="uploadFile($event[0])"
          >
            <mat-spinner *ngIf="loading"></mat-spinner>
            <input
              [disabled]="loading"
              hidden
              type="file"
              #fileInput
              (change)="uploadFile($event.target.files[0])"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="d-flex justify-content-center align-items-center h-100">
        <p>
          test test test test test test test test test test test test test test
          test test test test test test test test test test test test test test
          test test
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let image of images">
      <div class="card">
        <div
          class="card-header"
          style="background-color:#3f51b5;text-align: center;color:white"
        >
          {{ getType(image.type) }}
        </div>
        <img src="{{ image.url }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">{{ image.originalName }}</p>
        </div>
        <div class="card-footer text-muted" style="text-align:center">
          <a href="{{ image.url }}" target="_blank">دانلود</a>
        </div>
      </div>
      <!-- <div class="image-card ">
        <div class="image-img">
          <img src="{{ image.url }}" alt="" />
        </div>
        <div class="image-title">{{ image.originalName }}</div>
      </div> -->
    </div>
  </div>
</div>

<notifier-container dir="ltr"></notifier-container>
