<div class="container">
  <div
    class="main-container"
    [ngClass]="{ 'main-component-upload-state': !image_url }"
  >
    <div
      class="upload-image-container col-10"
      [ngClass]="{ 'upload-state': !image_url }"
    >
      <div
        *ngIf="!image_url"
        class="uploadfilecontainer"
        (click)="fileInput.click()"
        appUploadHandler
        (onFileDropped)="uploadFile($event[0])"
      >
        <input
          hidden
          type="file"
          #fileInput
          (change)="uploadFile($event.target.files[0])"
        />
      </div>
      <div>
        <div
          class="image-preview"
          *ngIf="image_url"
          (mouseenter)="mouse_enter()"
          (mouseleave)="mouse_leave()"
        >
          <div class="download-btn" *ngIf="mouse_on_image">
            <a href="{{ image_url }}" download>
              <img src="../../assets/images/download.png" alt="" />
            </a>
          </div>
          <div [ngClass]="{ 'shadow-on': mouse_on_image }" class="image">
            <img src="{{ image_url }}" alt="" />
          </div>
        </div>
      </div>
      <div class="files-list" *ngFor="let file of files; let i = index">
        <p class="file-item-name">{{ file.name }}</p>
        <button class="delete-file" (click)="deleteAttachment(i)">
          <img src="../../assets/images/remove.png" />
        </button>
      </div>
    </div>
    <div class="options-container col-2" *ngIf="image_url">
      <div *ngFor="let option of options">
        <mat-slider
          [disabled]="false"
          [invert]="true"
          [max]="max"
          [min]="min"
          [step]="step"
          [thumbLabel]="true"
          [tickInterval]="tickInterval"
          [(ngModel)]="option"
          [vertical]="vertical"
        >
        </mat-slider>
      </div>
    </div>
  </div>
  <div class="image-list row justify-content-around flex-wrap">
    <div
      class="image-container "
      *ngFor="let image of images"
      (click)="openImage(image)"
    >
      <div class="image-card ">
        <div class="image-img">
          <img src="{{ image.url }}" alt="" />
        </div>
        <div class="image-title">{{ image.originalName }}</div>
      </div>
    </div>
  </div>
</div>

<notifier-container dir="ltr"></notifier-container>
