<div class="container" style="margin-top:20px">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-5 box">
      <a [routerLink]="'/colorize'"> رنگی سازی </a>
    </div>
    <div class="col-12 col-md-5 box">
      <a [routerLink]="'/hdr'">بهبود کیفیت</a>
    </div>
    <div class="col-12 col-md-5 box">
      <a [routerLink]="'/colorize'"> رنگی سازی </a>
    </div>
    <div class="col-12 col-md-5 box">
      <a [routerLink]="'/colorize'"> رنگی سازی </a>
    </div>
    <div class="col-12 col-md-5 box">
      <a [routerLink]="'/colorize'"> رنگی سازی </a>
    </div>
    <div class="col-12 col-md-5 box">
      <a [routerLink]="'/colorize'"> رنگی سازی </a>
    </div>
  </div>
</div>
