<div class="col-md-6 offset-md-3 mt-5 register-container" dir="ltr">
  <div class="card w-100">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
          />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="repeatPassword">Repeat Password</label>
          <input
            type="password"
            formControlName="repeatPassword"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.repeatPassword.errors }"
          />
          <div
            *ngIf="submitted && f.repeatPassword.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.repeatPassword.errors.required">
              Repeating Password is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="job">Job</label>
          <input
            type="text"
            formControlName="job"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.job.errors }"
          />
          <div *ngIf="submitted && f.job.errors" class="invalid-feedback">
            <div *ngIf="f.job.errors.required">Job is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="usage">Usage</label>
          <input
            type="text"
            formControlName="usage"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.usage.errors }"
          />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.usage.errors.required">Usage is required</div>
          </div>
        </div>
        <button
          [disabled]="loading || !registerForm.valid"
          class="btn btn-primary"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Register
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
          {{ error }}
        </div>
      </form>
    </div>
  </div>
</div>
