<div class="col-md-6 offset-md-3 mt-5 register-container text-right" dir="ltr">
  <div class="card w-100">
    <h4 class="card-header">ایجاد حساب</h4>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">نام کاربری</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
          />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">نام کاربری اجباری است</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">رمز عبور</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">رمز عبور اجباری است</div>
          </div>
        </div>
        <div class="form-group">
          <label for="repeatPassword">تکرار رمز عبور</label>
          <input
            type="password"
            formControlName="repeatPassword"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.repeatPassword.errors }"
          />
          <div
            *ngIf="submitted && f.repeatPassword.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.repeatPassword.errors.required">
              تکرار رمز عبور اجباری است
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="job">شغل</label>
          <input
            type="text"
            formControlName="job"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.job.errors }"
          />
          <div *ngIf="submitted && f.job.errors" class="invalid-feedback">
            <div *ngIf="f.job.errors.required">شغل اجباری است</div>
          </div>
        </div>
        <div class="form-group">
          <label for="usage">مورد استفاده</label>
          <input
            type="text"
            formControlName="usage"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.usage.errors }"
          />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.usage.errors.required">مورد استفاده اجباری است</div>
          </div>
        </div>
        <button
          [disabled]="loading || !registerForm.valid"
          class="btn btn-primary"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          ایجاد حساب
        </button>
        <button class="btn btn-primary mx-3" [routerLink]="['/login']">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          ورود
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
          {{ error }}
        </div>
      </form>
    </div>
  </div>
</div>
<notifier-container dir="ltr"></notifier-container>
